<nav class="series">
  <h5>Cet article fait partie d'une série</h5>
  <h3>{{ site.data.series | where: 'id', page.series | map: 'title' }}&nbsp;:</h3>
  <ol>
    {% assign series-posts = site.posts | reverse | where: 'series', page.series %}
    {% for post in series-posts %}
    <li>
      {% if post.url == page.url %}
      <strong>{{ post.title }}</strong>
      {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
  {% if series-posts.size == 1 %}
  <p>Plus d'articles à venir...</p>
  {% endif %}
</nav>
