<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ title }}</title>
<meta name="description" content="{{ description }}" />
<meta name="author" content="{{ website.author }}" />

<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ludeo.net" />
<!-- <meta property="og:image" content="" /> -->
<meta property="og:description" content="{{ description }}" />
<meta property="og:locale" content="{{ locale }}" />

<link rel="stylesheet" href="/style.css" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="canonical" href="https://ludeo.net" />
